
*.cache
FilmesAPI/FilmesAPI/obj/Debug/net6.0/FilmesAPI.GeneratedMSBuildEditorConfig.editorconfig
FilmesAPI/FilmesAPI/obj/Debug/net6.0/FilmesAPI.GeneratedMSBuildEditorConfig.editorconfig
FilmesAPI/FilmesAPI/obj/Debug/net6.0/project.razor.json
